html {
  font-size: 22px;
}

.page-title {
  font-size: 3rem;
  text-align: center;

  /* your code here */
  position: fixed;
  top: 1em;
  width: 500px;
  background: transparent;
  margin-top: 0;
  padding: 10px;
  right: 5em;
}
