* {
  box-sizing: border-box;
}

h2 {
  text-align: center;
}

#button {
  font-size: 1.5em;
  padding: 6px 15px;
}

#button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#table-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

th {
  color: white;
  background-color: black;
}

tr:nth-child(odd) {
  background-color: #211c1c52;
}
